<html lang="en">
    <%- include('./partials/head.ejs')  %> 

<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="wrapper">

        <div class="fullWBanner">
            <img src="images/wesley-tingey-snNHKZ-mGfE-unsplash.jpg" alt="homeimg">
            <h1>事務所について</h1>
        </div>
    
        <div class="content">
            <div class="about">
                <img src="images/foto-sushi-6anudmpILw4-unsplash.jpg" alt="">
                <p>私たちがそこへ行くかどうかを決めるのは君の責任だ。「野生の動物はロボットではありません」と彼女は言う。日没は言葉では表現できないほど美しかった。いいからさっき盗ったモノを、カバンの中から出しなさい。ああ、怖かった。またいつか風のように走るんだ。ＡＳＥＡＮという文字は東南アジア諸国連合を表します。驚かない所をみると知ってたのね。いやあ、見事に晴れ渡った秋の日になったね。これが台風一過というやつかね。いやしくも何かをするなら、じょうずにやりなさい。私たちがそこへ行くかどうかを決めるのは君の責任だ。「野生の動物はロボットではありません」と彼女は言う。日没は言葉では表現できないほど美しかった。いいからさっき盗ったモノを、カバンの中から出しなさい。ああ、怖かった。またいつか風のように走るんだ。ＡＳＥＡＮという文字は東南アジア諸国連合を表します。驚かない所をみると知ってたのね。いやあ、見事に晴れ渡った秋の日になったね。これが台風一過というやつかね。いやしくも何かをするなら、じょうずにやりなさい。</p>
                <p class="right">社会労務士　北島一弘</p>

                <ul>
                    <li><b>略歴</b></li>
                    <li>００年ー００年　北島産業有限会社　取締役</li>
                    <li>００年ー００年　ＮＰＯ名前　役職</li>
                    <li>００年ー００年　東京都足立区教育委員会　役職</li>
                </ul>
            </div>

            <%- include('./partials/contBanner.ejs')  %> 

        </div>

    </div>
    <%- include('./partials/footer.ejs')  %> 

</body>