<html lang="en">
    <%- include('./partials/head.ejs')  %> 

<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="wrapper">

        <div class="fullWBanner">
            <img src="images/maksym-kaharlytskyi-Q9y3LRuuxmg-unsplash.jpg" alt="homeimg">
            <h1>ユーザー登録</h1>
        </div>
    
        <div class="content">
            
            <form action="/register" method="POST" role="form">
                <label for="name">ユーザー名</label>
                <input type="text" id="name" name="name">
                <label for="pass">パスワード</label>
                <input type="text" id="pass" name="pass">
                <button>保　存</button>
            </form>
        </div>

    </div>
    <%- include('./partials/footer.ejs')  %> 

</body>