<html lang="en">
    <%- include('./partials/head.ejs')  %> 

<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="wrapper">

        <div class="fullWBanner">
            <img src="images/maksym-kaharlytskyi-Q9y3LRuuxmg-unsplash.jpg" alt="homeimg">
            <h1>業務内容</h1>
        </div>
    
        <div class="content">
            <div class="services-single">
                <div class="service-single">
                    <h3><span></span>労働・社会保険</h3>
                    <p>私たちがそこへ行くかどうかを決めるのは君の責任だ。「野生の動物はロボットではありません」と彼女は言う。日没は言葉では表現できないほど美しかった。いいからさっき盗ったモノを、カバンの中から出しなさい。ああ、怖かった。またいつか風のように走るんだ。ＡＳＥＡＮという文字は東南アジア諸国連合を表します。驚かない所をみると知ってたのね。いやあ、見事に晴れ渡った秋の日になったね。これが台風一過というやつかね。いやしくも何かをするなら、じょうずにやりなさい。</p>
                    <p><b>報酬基準例：</b>００人の社会保険手続き　０００００円</p>
                </div>
                <div class="service-single">
                    <h3><span></span>各種助成金</h3>
                    <p>私たちがそこへ行くかどうかを決めるのは君の責任だ。「野生の動物はロボットではありません」と彼女は言う。日没は言葉では表現できないほど美しかった。いいからさっき盗ったモノを、カバンの中から出しなさい。ああ、怖かった。またいつか風のように走るんだ。ＡＳＥＡＮという文字は東南アジア諸国連合を表します。驚かない所をみると知ってたのね。いやあ、見事に晴れ渡った秋の日になったね。これが台風一過というやつかね。いやしくも何かをするなら、じょうずにやりなさい。</p>
                    <p><b>報酬基準例：</b>受給予定額の００％</p>
                </div>
                <div class="service-single">
                    <h3><span></span>障害年金</h3>
                    <p>私たちがそこへ行くかどうかを決めるのは君の責任だ。「野生の動物はロボットではありません」と彼女は言う。日没は言葉では表現できないほど美しかった。いいからさっき盗ったモノを、カバンの中から出しなさい。ああ、怖かった。またいつか風のように走るんだ。ＡＳＥＡＮという文字は東南アジア諸国連合を表します。驚かない所をみると知ってたのね。いやあ、見事に晴れ渡った秋の日になったね。これが台風一過というやつかね。いやしくも何かをするなら、じょうずにやりなさい。</p>
                    <p><b>報酬基準例：</b>受給予定額の００％</p>
                </div>
                <div class="service-single">
                    <h3><span></span>各種顧問・コンサルティング</h3>
                    <p>私たちがそこへ行くかどうかを決めるのは君の責任だ。「野生の動物はロボットではありません」と彼女は言う。日没は言葉では表現できないほど美しかった。いいからさっき盗ったモノを、カバンの中から出しなさい。ああ、怖かった。またいつか風のように走るんだ。ＡＳＥＡＮという文字は東南アジア諸国連合を表します。驚かない所をみると知ってたのね。いやあ、見事に晴れ渡った秋の日になったね。これが台風一過というやつかね。いやしくも何かをするなら、じょうずにやりなさい。</p>
                    <p><b>報酬基準例：</b>総合顧問月額　０００００円</p>
                </div>
            </div>

            <%- include('./partials/contBanner.ejs')  %> 

        </div>

    </div>
    <%- include('./partials/footer.ejs')  %> 

</body>